/* HEADER*/

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

header .logo img {
    height: 50px;
}

header .logo {
    margin-left: 50px;
}

header .nav {
    margin-left: 25rem;
}

header .nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

/* MAIN*/

.main {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.main h2 {
    margin-left: -30rem;
}

/* BLUE BANNER*/

.blue-banner {
    background-color: #0284c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    color: white;
    margin-top: 0;
}

.blue-banner .banner-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.banner-icon {
    height: 50px;
}