/* HEADER*/

header {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

header .logo img {
    height: 50px;
}

header .logo {
    margin-left: 50px;
}

header .nav {
    margin-left: 25rem;
}

header .nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
    margin: 0;
    padding: 0;
}

/* HERO*/

.hero {
    height: 350px;
    background-size: cover;
    background-position: top;
    position: relative;
}


.hero-button {
    position: absolute;
    bottom: -20px;
    left: 50px;
    background-color: #0284c7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}



/* MAIN*/

.main {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.main h2 {
    margin-left: -30rem;
}

/* BLUE BANNER*/

.blue-banner {
    background-color: #0284c7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    color: white;
    margin-top: 0;
}

.blue-banner .banner-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.banner-icon {
    height: 50px;
}

/* FOOTER */

.footer {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    padding: 60px 20px;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    min-height: 250px;
}

.dc-logo-big {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
    max-height: 600px;
    width: auto;
    z-index: 0;
}

.footer-column {
    position: relative;
    z-index: 1;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-link {
    color: white;
    text-decoration: underline;
}

.footer-link:hover {
    color: #0284c7;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #555;
    padding: 20px 40px;
    z-index: 1;
}

.signup-button {
    background-color: #0284c7;
    color: white;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.signup-button:hover {
    background-color: #0369a1;
}

.social-links img {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
    vertical-align: middle;
}

.social-links img:hover {
    opacity: 0.8;
}